.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

header {
  font-size: 20px;
  font-style: normal;
}

.header-color {
  background: #12c2e9;
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

p {
  font-size: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 200px;
}

.App-link {
  color: #09d3ac;
}

.center-container {
  background-color: #ffffff;
  margin: 100px;
  text-align: center;
  justify-content: center;
  width:70%;
  color: grey;
  border: 2px solid black;
  margin-bottom : 20px;
  opacity: 0.95;
}

.form-container {
  background-color: #1432ff;
  color : #f23498;
  text-align: center;
  justify-content: center;
  height :500px;
  display:flex;
}

h5 {
  margin-top: 0px !important;
}

.list-title {
  font-size: 2em;
}
.list-font {
  font-size: 1.3em;
}

.list-result-font {
  font-size: 1.5em;
  margin-left: 2em;
}

.row {
  margin-bottom: 1.2em;
}
